<div class="h-v-center" style="position: relative; top:70px">
    <header class="header d-flex justify-content-center">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-7 header-div">
                    <div class="header-content">
                        <h3 class="header-title"><strong class="text-light text-Allison3">JC</strong><span
                                class="text-primary text-Allison5">hat</span></h3>
                        <h4 class="header-subtitle"> About this app </h4>
                        <p class="text-justify" id="p-welcome">
                            Our app is designed for both public and private chatrooms, making it easy for you to connect 
                            with people from all around the world. With our app, you can create your own private chatrooms 
                            or join existing ones to start chatting with others who share your interests.
                            <br /><br />
                            Our frontend was built using Angular, a popular and powerful framework for building 
                            single-page web applications. This allows for a smooth and seamless user experience, 
                            making it easy for you to navigate our app and start chatting with others.
                            <br /><br />
                            On the backend, we used Node.js, a powerful server-side JavaScript runtime, along with 
                            the Express framework for building robust web applications. We also utilized Socket.IO, 
                            a real-time web socket library, to enable instant messaging and chatroom functionality. 
                            This combination of technologies ensures that our app is fast, reliable, and secure, 
                            providing you with a seamless and enjoyable chat experience.
                            <br /><br />
                            Whether you're looking to connect with people from all over the world or just chat with your 
                            friends, our app has everything you need to make it happen. <br /><br />
                            <strong style="color:#ff9a44;">So why wait?  ...Sign up now and start chatting today!</strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-1 d-md-block header-div"></div>
                <div class="col-md-4 d-md-block header-div">
                    <register-login></register-login>
                </div>
            </div>
        </div>
    </header>
    </div>
