<div class="h-v-center">
    <header class="header d-flex justify-content-center">
        <div class="container">
            <div class="row h-100 align-items-center home-container">
                <div class="col-md-7 header-div home-content">
                    <div class="header-content">
                        <h3 class="header-title"><strong class="text-light text-Allison3">JC</strong><span
                                class="text-primary text-Allison5">hat</span></h3>
                        <h4 class="header-subtitle"> Public and private chatrooms </h4>
                        <p class="text-justify" id="p-welcome">
                            Welcome to our chatrooms website! We offer both public and private chatrooms for our users.
                            <br /><br />
                            Our public chatroom is available to everyone, even guests. You can join the public chatroom
                            and
                            start
                            chatting right away without the need for registration or login.
                            <br />
                            <button class="btn-log" [routerLink]="['/rooms/public']">Join as guest</button>
                            <br />
                            However, we also offer private chatrooms for users who want more privacy in their
                            conversations.
                            To access our private chatrooms, you need to register and login to your account. This is to
                            ensure the safety and security of our users.
                            <br /><br />
                            We hope you enjoy using our chatrooms website and making new connections with other users,
                            thank you for choosing our website for your chatting needs. Happy chatting!
                        </p>
                    </div>
                </div>
                <div class="col-md-1 d-md-block header-div"></div>
                <div class="register-login-container">
                    <register-login class="register-login-container"></register-login>
                </div>
            </div>
        </div>
    </header>
</div>