<nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">
          <strong class="text-light text-Allison">JC</strong>
          <span class="text-ligth text-Allison3">hat</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['menu-active']" *ngIf="!loggedUser.islogged()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/public-room']" [routerLinkActive]="['menu-active']">Public Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/my-account']" [routerLinkActive]="['menu-active']" *ngIf="loggedUser.islogged()">{{loggedUser.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="['/home']" (click)="logout()" *ngIf="loggedUser.islogged()" >Log-out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-dark shadow-none ml-md-4" href="components.html">Components</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>